.form-input{
    
    label{
        font-size: 13px;
        color: #5C7F9C;
    }

    .form-control{
        background: #FFFFFF;
        border: 1px solid #F1F3F4;
        border-radius: 4px;
    }
}